# Speed Dating

## Challenge description

We will start a new data visualization and exploration project. Your goal will be to try to understand *love*! It's a very complicated subject so we've simplified it. Your goal is going to be to understand what happens during a speed dating and especially to understand what will influence the obtaining of a **second date**.

This is a Kaggle competition on which you can find more details here :

[Speed Dating Dataset](https://www.kaggle.com/annavictoria/speed-dating-experiment#Speed%20Dating%20Data%20Key.doc)

Take some time to read the description of the challenge and try to understand each of the variables in the dataset. Help yourself with this from the document : *Speed Dating - Variable Description.md*

### Rendering

To be successful in this project, you will need to do a descriptive analysis of the main factors that influence getting a second appointment. 

Over the next few days, you'll learn how to use python libraries like seaborn, plotly and bokeh to produce data visualizations that highlight relevant facts about the dataset.

For today, you can start exploring the dataset with pandas to extract some statistics.

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Speed Dating Data.csv", encoding="ISO-8859-1")

In [3]:
dataset.sort_values(['iid']).head(30)

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
5,1,1.0,0,1,1,1,10,7,NaN,6,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
6,1,1.0,0,1,1,1,10,7,NaN,1,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
7,1,1.0,0,1,1,1,10,7,NaN,2,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
8,1,1.0,0,1,1,1,10,7,NaN,8,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
9,1,1.0,0,1,1,1,10,7,NaN,9,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
19,2,2.0,0,3,1,1,10,3,NaN,5,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
18,2,2.0,0,3,1,1,10,3,NaN,4,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
16,2,2.0,0,3,1,1,10,3,NaN,7,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
15,2,2.0,0,3,1,1,10,3,NaN,2,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
17,2,2.0,0,3,1,1,10,3,NaN,8,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
13,2,2.0,0,3,1,1,10,3,NaN,1,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
12,2,2.0,0,3,1,1,10,3,NaN,6,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
11,2,2.0,0,3,1,1,10,3,NaN,9,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
10,2,2.0,0,3,1,1,10,3,NaN,10,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
14,2,2.0,0,3,1,1,10,3,NaN,3,...,7.0,6.0,9.0,9.0,4.0,NaN,NaN,NaN,NaN,NaN
29,3,3.0,0,5,1,1,10,9,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,3,3.0,0,5,1,1,10,9,NaN,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,3,3.0,0,5,1,1,10,9,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,3.0,0,5,1,1,10,9,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3,3.0,0,5,1,1,10,9,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,3,3.0,0,5,1,1,10,9,NaN,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3,3.0,0,5,1,1,10,9,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3,3.0,0,5,1,1,10,9,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3,3.0,0,5,1,1,10,9,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,3,3.0,0,5,1,1,10,9,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.shape

(8378, 195)

In [5]:
dataset.describe(include='all')

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
count,8378.000000,8377.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,6532.000000,8378.000000,...,3974.000000,3974.000000,3974.000000,3974.000000,3974.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,283.675937,8.960248,0.500597,17.327166,1.828837,11.350919,16.872046,9.042731,9.295775,8.927668,...,7.240312,8.093357,8.388777,7.658782,7.391545,6.810020,7.615079,7.932540,7.155258,7.048611
std,158.583367,5.491329,0.500029,10.940735,0.376673,5.995903,4.358458,5.514939,5.650199,5.477009,...,1.576596,1.610309,1.459094,1.744670,1.961417,1.507341,1.504551,1.340868,1.672787,1.717988
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,3.000000,2.000000,1.000000,2.000000,2.000000,4.000000,1.000000,1.000000
25%,154.000000,4.000000,0.000000,8.000000,2.000000,7.000000,14.000000,4.000000,4.000000,4.000000,...,7.000000,7.000000,8.000000,7.000000,6.000000,6.000000,7.000000,7.000000,6.000000,6.000000
50%,281.000000,8.000000,1.000000,16.000000,2.000000,11.000000,18.000000,8.000000,9.000000,8.000000,...,7.000000,8.000000,8.000000,8.000000,8.000000,7.000000,8.000000,8.000000,7.000000,7.000000
75%,407.000000,13.000000,1.000000,26.000000,2.000000,15.000000,20.000000,13.000000,14.000000,13.000000,...,8.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,9.000000,8.000000,8.000000
max,552.000000,22.000000,1.000000,44.000000,2.000000,21.000000,22.000000,22.000000,22.000000,22.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [6]:
print("Percentage of missing values: ")
missing_values_p=100*dataset.isnull().sum()/dataset.shape[0]
missing_values_p=missing_values_p.to_frame(name='percentage_of_NA')
missing_values_p.head(10)

Percentage of missing values:

          percentage_of_NA
iid               0.000000
id                0.011936
gender            0.000000
idg               0.000000
condtn            0.000000
wave              0.000000
round             0.000000
position          0.000000
positin1         22.033898
order             0.000000

In [7]:
missing_values_p.sort_values(by=['percentage_of_NA'],ascending=False,axis=0, inplace=True)
missing_values_p.head(20)

          percentage_of_NA
num_in_3         92.026737
numdat_3         82.143710
expnum           78.515159
sinc7_2          76.665075
amb7_2           76.665075
shar7_2          76.438291
attr7_2          76.318931
intel7_2         76.318931
fun7_2           76.318931
amb5_3           75.936978
attr7_3          75.936978
sinc7_3          75.936978
intel7_3         75.936978
fun7_3           75.936978
amb7_3           75.936978
shar7_3          75.936978
shar2_3          75.936978
attr5_3          75.936978
sinc5_3          75.936978
intel5_3         75.936978

In [39]:
print('Percentage of missing values > 60% per column')
missing_values_p[missing_values_p.percentage_of_NA>60]

Percentage of missing values > 60% per column

          percentage_of_NA
num_in_3         92.026737
numdat_3         82.143710
expnum           78.515159
sinc7_2          76.665075
amb7_2           76.665075
shar7_2          76.438291
attr7_2          76.318931
intel7_2         76.318931
fun7_2           76.318931
shar7_3          75.936978
fun5_3           75.936978
intel5_3         75.936978
sinc5_3          75.936978
attr5_3          75.936978
shar2_3          75.936978
fun7_3           75.936978
amb7_3           75.936978
intel7_3         75.936978
sinc7_3          75.936978
attr7_3          75.936978
amb5_3           75.936978
attr2_3          64.681308
amb2_3           64.681308
intel2_3         64.681308
fun2_3           64.681308
sinc2_3          64.681308
amb4_3           64.681308
shar4_3          64.681308
fun4_3           64.681308
intel4_3         64.681308
sinc4_3          64.681308
attr4_3          64.681308
mn_sat           62.604440

In [16]:
print('the total number of missing values=',dataset.isnull().sum().sum())

the total number of missing values= 432016

In [17]:
print('Number of unique participants')
dataset.iid.nunique()

Number of unique participants

551

In [22]:
#df=dataset
#df.groupby(['iid'],as_index=False).agg({'Metadata_B':'mean','ratio':'first'})

In [10]:
dataset.sinc7_2.value_counts()

10.0    610
20.0    443
5.0     203
15.0    196
0.0     173
25.0    122
40.0     40
16.0     34
17.0     33
18.0     18
12.0     18
30.0     18
19.0     15
11.0     15
9.0      10
23.0      7
Name: sinc7_2, dtype: int64

In [ ]:
num_in_3,numdat_3

# sinc7_2 -> replace nan with 0

In [23]:
dataset.sinc7_2=[0 for x in dataset.sinc7_2 if

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8373    0.0
8374    0.0
8375    0.0
8376    0.0
8377    0.0
Name: sinc7_2, Length: 8378, dtype: float64

In [ ]:
sinc7_2	76.665075
amb7_2	76.665075
shar7_2	76.438291
attr7_2	76.318931
intel7_2	76.318931
fun7_2	76.31893